@font-face {
    font-family: 'ssp-bold';
    src: url('../assets/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../assets/fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ssp-light';
    src: url('../assets/fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('../assets/fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../assets/fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ssp-regular';
    src: url('../assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../assets/fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'ssp-light';
    color: $complimentary-color-dark;
}

p {
    font-family: 'ssp-light';
    font-size: 1.4rem;

    @media (min-width: $tablet) {
        font-size: 1.6rem;
    } 
}

h1 {
    font-family: 'ssp-bold';
    font-size: 2.4rem;

    @media (min-width: $tablet) {
        font-size: 4rem;
    }
}