//breakpoints
$desktop-big: 1920px;
$desktop-small: 1281px;
$laptop: 1025px;
$tablet: 768px;
$mobile: 480px;

//essential stylesheets
@import 'style/reset.scss';
@import 'style/colors.scss';
@import 'style/typography.scss';
@import 'style/animations.scss';
@import 'style/flex-grid';

//containers stylesheets
@import 'style/containers/landing.scss';
@import 'style/containers/about.scss';
@import 'style/containers/cases.scss';

//components stylesheet

//essential config
.App {
    width: 100%;

        .inner {
            width: 70%;
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 8rem;
            padding-bottom: 8rem;

            @media (min-width: $tablet) {
                padding-top: 12rem;
                padding-bottom: 12rem;
            }

            @media (min-width: $laptop) {
                padding-top: 16rem;
                padding-bottom: 16rem;
            }
        }
}